<div class="contact_wrapper-{{ id }}">
  <div class="c-top-{{ id }}">
    <div class="icons-{{ id }}">{% render 'all-icons', name: 'call' %}</div>
    <h2>Call Us</h2>
  </div>
  <a href="tel:+1 (833)830-4291">+1 (833)830-4291</a>
  <p>
    Mon. - Fri. 7:00 AM - 7:00 PM<br>
    Sat. - Sun. CLOSED
  </p>
  <h3>Pacific Standard Time</h3>
  <a href="tel:+1 (833)830-4291" class="black__btn">Call Us</a>
</div>
