<div class="contact_wrapper-{{ id }}">
  <div class="c-top-{{ id }}">
    <div class="icons-{{ id }}">{% render 'all-icons', name: "email" %}</div>
    <h2>Email Us</h2>
  </div>
  <a href="mailto:info@smileoptics.com">info@smileoptics.com</a>
  <p>Our Smile Optics Customer Care Team is here to help.</p>
  <a href="mailto:info@smileoptics.com" class="black__btn">Email Support</a>
  <h6>Typically responds within 24 hours</h6>
</div>